html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#page_content {
	width: 100%;
	flex: 1 0 auto;
}

details summary { 
	cursor: pointer;
}

details summary > * {
	display: inline;
}

.alumni .socials {
	/* visibility: hidden; */
}

.bibtexentry pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.grant .title-wrapper,
.grant .lead-pi-title,
.grant .ttu-pi-title,
.grant .pi-title,
.grant .co-pi-title {
	font-weight: bold;
}

.grant .agency-wrapper,
.grant .date-wrapper,
.grant .amount-wrapper {
	font-style: italic;
}


