html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#page_content {
	width: 100%;
	flex: 1 0 auto;
}

.bibtexentry pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

